################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gateway/obj/Debug/net8.0
/Gateway/obj/Release/net8.0
/Gateway/obj/Gateway.csproj.nuget.dgspec.json
/Gateway/obj/Gateway.csproj.nuget.g.props
/Gateway/obj/Gateway.csproj.nuget.g.targets
/Gateway/obj/project.assets.json
/Gateway/obj/project.nuget.cache
/OrderAPI/obj
/ProductAPI/obj/Debug/net8.0
/ProductAPI/obj/Release/net8.0
/ProductAPI/obj/ProductAPI.csproj.nuget.dgspec.json
/ProductAPI/obj/ProductAPI.csproj.nuget.g.props
/ProductAPI/obj/ProductAPI.csproj.nuget.g.targets
/ProductAPI/obj/project.assets.json
/ProductAPI/obj/project.nuget.cache
/ShoppingCartAPI/obj/Debug/net8.0
/ShoppingCartAPI/obj/Release/net8.0
/ShoppingCartAPI/obj/project.assets.json
/ShoppingCartAPI/obj/project.nuget.cache
/ShoppingCartAPI/obj/ShoppingCartAPI.csproj.nuget.dgspec.json
/ShoppingCartAPI/obj/ShoppingCartAPI.csproj.nuget.g.props
/ShoppingCartAPI/obj/ShoppingCartAPI.csproj.nuget.g.targets
/Web/obj/Debug/net6.0
/Web/obj/Release/net6.0
/WebApplication/obj
/MessageBus/obj/Debug/net8.0
/MessageBus/obj/Release/net8.0
/MessageBus/obj
/BlazorAppUI/obj
/AuthAPI/obj/Debug/net8.0
/AuthAPI/obj/Release/net8.0
/AuthAPI/obj/AuthAPI.csproj.nuget.dgspec.json
/AuthAPI/obj/AuthAPI.csproj.nuget.g.props
/AuthAPI/obj/AuthAPI.csproj.nuget.g.targets
/AuthAPI/obj/project.assets.json
/AuthAPI/obj/project.nuget.cache
/.vs
